.speech {
  > p {
    color: $black;
    font-size: 1.7vw;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    line-height: 4vw;
    text-align: center;
  }

  &:before {
    content: "";
    display: block;
    width: 45px;
    height: 4px;
    margin: 8% auto;
    background-color: #e74c3c;
  }

  &:after {
    content: "";
    display: block;
    width: 45px;
    height: 4px;
    margin: 8% auto auto;
    background-color: #e74c3c;
  }
}

@media (max-width: 768px) {
  .speech {
    > p {
      font-size: 2.5vw;
    }
  }
}