.block_3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 150px 0 0 0;

  .block_3_content {
    padding-left: 10%;
    padding-top: 20px;
    padding-right: 120px;
    align-self: flex-start;
  }

  .block_3_button {
    background: black;
    color: white;
  }

  .block_3_content_list {
    padding-bottom: 50px;
  }

  .block_img {
    width: 40%;
  }

  .block_3_img {
    width: 100%;
  }
}