.section-top {
  background: url(../img/bg.png);
  background-size: cover;
  margin-left: -8px;
  padding-bottom: 200px;
  position: relative;
}

.section-top__header {
  padding-top: 30px;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 2;
  justify-content: space-between;

  .section-top__logo__link {
    text-decoration: none;
    color: #ffffff;
    font-family: Gilroy, sans-serif;
    font-size: 48px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 20px;
    text-align: left;
  }

  .section-top__menu__list {
    display: flex;
    justify-content: space-between;
    list-style: none;
  }

  .section-top__menu__item {
    cursor: pointer;
    padding: 6px 10px;
    margin: 0 10px;
    color: #ffffff;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    line-height: normal;
    border: 1px solid transparent;

    &:hover {
      border: 1px solid white;
    }
  }

  .section-top__phone_number {
    .phone-number {
      color: #ffffff;
      font-family: Roboto, serif;
      font-size: 22px;
      font-weight: 700;
      font-style: normal;
      letter-spacing: normal;
      text-align: left;
      line-height: normal;
      text-decoration: none;
    }
  }

  .section-top__language_toggle {
    color: #828282;
    font-family: Roboto, serif;
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    line-height: 20px;
    text-align: center;

    .toggle_element {
      cursor: pointer;
      border: 1px solid transparent;
      padding: 3px 6px;

      &:hover {
        color: white;
        border: 1px solid;
      }

    }
  }
}

.section-top__info {
  padding-top: 70px;
  max-width: 500px;
  position: relative;

  .section-top__info__title_title {
    color: white;
    font-family: Gilroy, sans-serif;
    font-size: 58px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    text-transform: uppercase;
  }

  .section-top__info__text {
  }

  .section-top__info__text_text {

    color: #ffffff;
    font-family: Roboto, serif;
    font-size: 23px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    line-height: 35px;
    text-align: left;
  }
}


