.what-we-do {
  background-size: cover;
  background: white url("../img/what_we_do.png") center;
  position: relative;
  padding-bottom: 150px;

  .empty_block_black {
    background-color: black;

    &:before {
      content: "Проекты";
      color: black;
      font-family: Roboto, sans-serif;
      position: absolute;
      top: -30px;
      left: -30px;
    }
  }

}