@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

@font-face {
  font-family: "Gilroy";
  src: url("../assets/fonts/Gilroy-ExtraBold.eot");
  src: url("../assets/fonts/Gilroy-ExtraBold.eot?#iefix") format("embedded-opentype"),
  url("../assets/fonts/Gilroy-ExtraBold.woff") format("woff"),
  url("../assets/fonts/Gilroy-ExtraBold.ttf") format("truetype");
}