$white: #fff;
$black: #000;
$white-gray: #dad9d9;
$gazprom-gray: #bdcbd7;
$tinkoff-yellow: #f8d000;
$section-all-gray: #303030;
$benefits-line-red: #e74c3c;
$benefints-gray: #f1f2f2;
$footer-dark-gray: #222222;
